In [1]:
import pandas as pd
import numpy as np
import mlflow
import dagshub


from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

In [2]:
df = pd.read_csv(r'E:\Rohini\miniproject\project123\data\external\loan_approval_dataset.csv')

In [3]:
df.head

<bound method NDFrame.head of       loan_id   no_of_dependents      education  self_employed   income_annum  \
0           1                  2       Graduate             No        9600000
1           2                  0   Not Graduate            Yes        4100000
2           3                  3       Graduate             No        9100000
3           4                  3       Graduate             No        8200000
4           5                  5   Not Graduate            Yes        9800000
...       ...                ...            ...            ...            ...
4264     4265                  5       Graduate            Yes        1000000
4265     4266                  0   Not Graduate            Yes        3300000
4266     4267                  2   Not Graduate             No        6500000
4267     4268                  1   Not Graduate             No        4100000
4268     4269                  1       Graduate             No        9200000

       loan_amount   loan_term   cibil_score   residential_assets_value  \
0         29900000          12           778                    2400000
1         12200000           8           417                    2700000
2         29700000          20           506                    7100000
3         30700000           8           467                   18200000
4         24200000          20           382                   12400000
...            ...         ...           ...                        ...
4264       2300000          12           317                    2800000
4265      11300000          20           559                    4200000
4266      23900000          18           457                    1200000
4267      12800000           8           780                    8200000
4268      29700000          10           607                   17800000

       commercial_assets_value   luxury_assets_value   bank_asset_value  \
0                     17600000              22700000            8000000
1                      2200000               8800000            3300000
2                      4500000              33300000           12800000
3                      3300000              23300000            7900000
4                      8200000              29400000            5000000
...                        ...                   ...                ...
4264                    500000               3300000             800000
4265                   2900000              11000000            1900000
4266                  12400000              18100000            7300000
4267                    700000              14100000            5800000
4268                  11800000              35700000           12000000

      loan_status
0        Approved
1        Rejected
2        Rejected
3        Rejected
4        Rejected
...           ...
4264     Rejected
4265     Approved
4266     Rejected
4267     Approved
4268     Approved

[4269 rows x 13 columns]>

In [4]:
df.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [5]:
df.columns = df.columns.str.strip()
df.columns

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')

In [6]:
x = df.drop(['loan_id', 'loan_status'], axis=1)
y= df['loan_status']

In [7]:
x=pd.get_dummies(x)
x.head()

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_ Graduate,education_ Not Graduate,self_employed_ No,self_employed_ Yes
0,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,True,False,True,False
1,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,False,True,False,True
2,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,True,False,True,False
3,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,True,False,True,False
4,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,False,True,False,True

In [8]:
#standardize
scaler = StandardScaler()

x_scaled = scaler.fit_transform(x)

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y, 
                                                    test_size=0.2, random_state=42)

In [31]:
mlflow.set_tracking_uri("https://dagshub.com/rohinibhosale1223/miniproject.mlflow")
dagshub.init(repo_owner='rohinibhosale1223', repo_name='miniproject', mlflow=True)

mlflow.set_experiment('exp1_random_forest_std1')

Initialized MLflow to track repo "rohinibhosale1223/miniproject"

Repository rohinibhosale1223/miniproject initialized!

2024/12/26 12:24:50 INFO mlflow.tracking.fluent: Experiment with name 'exp1_random_forest_std1' does not exist. Creating a new experiment.

<Experiment: artifact_location='mlflow-artifacts:/c585ab2fb4004d309b366eab1fac23c6', creation_time=1735196090061, experiment_id='3', last_update_time=1735196090061, lifecycle_stage='active', name='exp1_random_forest_std1', tags={}>

In [32]:
with mlflow.start_run():
    mlflow.log_param('scaler', 'standard_scaler')
    mlflow.log_param('test_size', 0.2)

    model = RandomForestClassifier()

    model.fit(x_train, y_train)

    y_pred = model.predict(x_test)

    accuracy = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, pos_label = ' Approved')
    precision = precision_score(y_test, y_pred, pos_label = ' Approved')
    recall = recall_score(y_test, y_pred, pos_label = ' Approved')


    print(accuracy, f1, precision, recall)

    mlflow.log_metric('accuracy', accuracy)
    mlflow.log_metric('f1', f1)
    mlflow.log_metric('precision', precision)
    mlflow.log_metric('recall', recall)

    mlflow.sklearn.log_model(model, 'random_forest_model')

    mlflow.log_artifact('exp1_initial.ipynb')

0.977751756440281 0.9823255813953489 0.9795918367346939 0.9850746268656716

2024/12/26 12:25:56 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

üèÉ View run carefree-gnu-149 at: https://dagshub.com/rohinibhosale1223/miniproject.mlflow/#/experiments/3/runs/b8a302d3a8d84e21b6479acd057120ce
üß™ View experiment at: https://dagshub.com/rohinibhosale1223/miniproject.mlflow/#/experiments/3